 #banner{
    
    text-: center;
    
    
 }
 #lewy{
    text-: left;
    width: 25%;
    height: 200px;
 }
 #middle{
    text-: left;
    width: 50%;
    height: 200px;
 }
 #prawy{
    text-: left;
    width: 25%;
    height: 200px;
 }